!.gitignore

target/
.settings/
.classpath
.project
*.bat
*.settins
*.class
.project
*.factorypath
*.bat/
*.apt_generated/
*.gradle/

#Intellij
*.iml
*.idea/
out/
build/
target/
*.log
logs/

bin/
out/
.gradle/
gradle/
gradlew
